<div class="mdl-grid demo-content">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"><i class="material-icons" role="presentation">computer</i>Browser Versions</h2>
        </div>
        <div id='chart' class="chart">
            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>
        <!--<div class="mdl-card__menu">
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
                <li class="mdl-menu__item">Some Action</li>
                <li class="mdl-menu__item">Another Action</li>
                <li disabled class="mdl-menu__item">Disabled Action</li>
                <li class="mdl-menu__item">Yet Another Action</li>
            </ul>
        </div>-->
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"><i class="material-icons" role="presentation">devices</i>Device types</h2>
        </div>
        <div id='devices-chart' class="chart">
            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>
        <!--<div class="mdl-card__menu">
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
                <li class="mdl-menu__item">Some Action</li>
                <li class="mdl-menu__item">Another Action</li>
                <li disabled class="mdl-menu__item">Disabled Action</li>
                <li class="mdl-menu__item">Yet Another Action</li>
            </ul>
        </div>-->
    </div>
    <script>
        d3.select('#chart').classed('loading', true);

        var startDate = moment().subtract(1, "month").format("YYYY-MM-DD");
        var endDate = moment().format("YYYY-MM-DD");
        d3.json('/browser/api/browsers/' + startDate + '/' + endDate, function(error, data) {
            if(error) {
                return console.warn(error);
            }

            d3.select('#chart').classed('loading', false);

            var chartData = data.rows;

            var template = {
                bindto: '#chart',
                data: {
                    columns: data.rows,
                    type: 'pie',
                },
                legend: {
                    position: 'right'
                }
            };

            var chart = c3.generate(template);
        });

        d3.select('#devices-chart').classed('loading', true);

        var startDate = moment().subtract(1, "month").format("YYYY-MM-DD");
        var endDate = moment().format("YYYY-MM-DD");
        d3.json('/browser/api/devices/' + startDate + '/' + endDate, function(error, data) {
            if(error) {
                return console.warn(error);
            }

            d3.select('#devices-chart').classed('loading', false);

            var chartData = data.rows;

            var template = {
                bindto: '#devices-chart',
                data: {
                    columns: data.rows,
                    type: 'pie',
                },
                legend: {
                    position: 'right'
                }
            };

            var chart = c3.generate(template);
        });
    </script>
</div>
