<div class="mdl-grid demo-content">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"><i class="material-icons" role="presentation">computer</i>Screen Sizes
            </h2>
        </div>
        <div id='chart-desktop' class="chart">
            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>
        <div class="mdl-card__menu">
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon chart-csv">
                <i class="material-icons">file_download</i>
            </button>
        </div>
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"><i class="material-icons" role="presentation">tablet</i>Screen Sizes
            </h2>
        </div>
        <div id='chart-tablet' class="chart">
            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>
        <div class="mdl-card__menu">
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon chart-csv">
                <i class="material-icons">file_download</i>
            </button>
        </div>
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"><i class="material-icons" role="presentation">smartphone</i>Screen Sizes
            </h2>
        </div>
        <div id='chart-mobile' class="chart">
            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>
        <div class="mdl-card__menu">
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon chart-csv">
                <i class="material-icons">file_download</i>
            </button>
        </div>
    </div>
    <script>
        d3.select('#chart').classed('loading', true);
        var startDate = moment().subtract(1, "month").format("YYYY-MM-DD");
        var endDate = moment().format("YYYY-MM-DD");
        d3.select('.chart-csv').on('click', function() {
            window.open('/design/csv/screen/' + startDate + '/' + endDate);
        });
        d3.json('/design/api/screen/' + startDate + '/' + endDate, function(error, data) {
            if(error) {
                return console.warn(error);
            }

            d3.select('#chart').classed('loading', false);

            var transformedDataHeaders = ['width x height', 'sessions'];
            var desktopData = [transformedDataHeaders];
            var tabletData = [transformedDataHeaders];
            var phoneData = [transformedDataHeaders];
            //            var stats = [['category', 'sessions']];
            for(var i = 0, l = data.rows.length; i < l; i++) {
                var sessions = data.rows[i][2];
                var deviceString = data.rows[i][0];//.split('x');
                var width = deviceString[0];
                var height = deviceString[1];
                var category = data.rows[i][1];
                if(category == 'mobile') {
                    phoneData.push([deviceString, sessions]);
                } else if(category == 'tablet') {
                    tabletData.push([deviceString, sessions]);
                } else {
                    desktopData.push([deviceString, sessions]);
                }
                //                stats.push([category, sessions]);
            }

            var template = {
                bindto: '#chart-desktop',
                data: {
                    columns: desktopData,
                    type: 'donut',
                    order: null,
                },
                legend: {
                    position: 'right',
                    show: false
                },
                donut: {
                    title: 'Desktop'
                }
            };

            var chart = c3.generate(template);
            var template = {
                bindto: '#chart-tablet',
                data: {
                    columns: tabletData,
                    type: 'donut',
                    order: null,
                },
                legend: {
                    position: 'right',
                    show: false
                },
                donut: {
                    title: 'Tablet'
                }
            };

            var chart = c3.generate(template);
            var template = {
                bindto: '#chart-mobile',
                data: {
                    columns: phoneData,
                    type: 'donut',
                    order: null,
                },
                legend: {
                    position: 'right',
                    show: false
                },
                donut: {
                    title: 'Mobile'
                }
            };

            var chart = c3.generate(template);
        });
    </script>
</div>
