<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libs/c3/c3.css' />
    <script src="/libs/d3/d3.js"></script>
    <script src="/libs/c3/c3.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
